<ion-view view-title="ADN">
	<ion-content class="adn">
  	<div class="row">
  		<div class="col text-center">
  			<h1 class="title-color">ADN</h1>
  			<canvas id="canvas"></canvas>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col">
  			<p class="hola">
  				Definición de ADN. ADN es una sigla que corresponde a ácido desoxirribonucleico: el biopolímero que alberga los datos para la síntesis de las proteínas y que compone el material de tipo genético que tienen las células. ... Este ácido nucleico también posibilita que los datos sean transmitidos a través de la herencia.
  			</p>
  		</div>
  	</div>
	</ion-content>
</ion-view>