<ion-view view-title="listas">
  <ion-content class="listado padding">
    <div class="row">
      <div class="col">
        <button class="button button-block button-outline button-royal" ng-click="ADN()">
          ADN
        </button>
        <button class="button button-block button-outline button-royal" ng-click="Video()">
          Vídeo
        </button>
        <button class="button button-block button-outline button-royal" ng-click="Tabla()">
          Tabla nutricional
        </button>
        <button class="button button-block button-outline button-royal" ng-click="info()">
          Infografía
        </button>
        <button class="button button-block button-outline button-royal" ng-click="Game()">
          Juego
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>