<ion-view view-title="Account">
<ion-content class="padding">
	<div class="row">
		<div class="col">
			<div class="list card">
				<div class="item item-body">
					<h1 class="text-center">Vídeo</h1>
					<div class="video-container">
					<iframe src="../img/video1.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>		
					<p class="text-center">
						La biología es la ciencia que estudia a los seres vivos y, más específicamente, su origen, su evolución y sus propiedades, nutrición, morfogénesis, reproducción, patogenia, etc. 
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="list card">
				<div class="item item-body">
					<div class="video-container">
					<iframe src="../img/video2.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>		
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="list card">
				<div class="item item-body">
					<div class="video-container">
					<iframe src="../img/video.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>		
				</div>
			</div>
		</div>
	</div>
	</ion-content>
</ion-view>
